{{ block "index" . }}
<DOCTYPE html>
<html lang="en">
    {{ template "header" . }}
    {{ template "body" . }}
</html>
{{ end }}

{{ block "body" . }}
    <body data-theme="sunset" class="min-h-screen bg-base-200">
        <div class="container mx-auto p-6">
            <div class="flex justify-center mb-8">
                <div class="max-w-md w-full">
                    <a href="/">
                        <img src="/assets/logo_ff.svg" alt="Logo" class="w-full h-auto">
                    </a>
                </div>
            </div>
            {{ template "intro" }}
            {{ if .ShowForm }}
                {{ template "form" . }}
            {{ end }}
            {{ template "notifications" . }}
            <div class="flex justify-center items-center mt-4">
                <span id="form-loader" class="htmx-indicator loading loading-bars loading-md"></span>
            </div>
        </div>
    </body>
{{ end }}


{{ block "form" . }}
<div class="p-8 rounded-lg shadow-md max-w-md mx-auto">
    <form id="registration-form" hx-post="/register" hx-target="#post-reg-notifications" hx-indicator="#form-loader">
        <div class="mb-4">
            <label for="nickname" class="block text-sm font-medium">Name/Nickname (optional)</label>
            <input type="text" id="nickname" name="nickname" class="input input-bordered w-full mt-1" placeholder="Your nickname">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium">Email</label>
            <input type="email" id="email" name="email" required class="input input-bordered w-full mt-1" placeholder="Your email address">
        </div>
        <div class="mb-4">
            <label class="inline-flex items-center">
                <input type="checkbox" class="checkbox checkbox-primary" name="drinks">
                <span class="ml-2">Count me in for drinks afterwards</span>
            </label>
        </div>
        <div class="mb-4">
            <label class="inline-flex items-center">
                <input type="checkbox" class="checkbox checkbox-primary" required>
                <span class="ml-2">
                    I consent to my data being collected and used for event
                    registration as described in the
                    <a href="/policy" class="link link-secondary">Privacy Policy</a>.
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-full">Register</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener("htmx:afterRequest", function(evt) {
        // Reset the form after the request is completed
        document.getElementById("registration-form").reset();
    });
</script>
{{ end }}

{{ block "notifications" . }}
    <div id="post-reg-notifications">
        {{ if .PostRegisterInfo }}
            <div class='alert alert-success'>{{ .PostRegisterInfo }}</div>
        {{ end }}
        {{ if .PostRegisterError }}
            <div class='alert alert-error'>{{ .PostRegisterError }}</div>
        {{ end }}
    </div>
{{ end }}

{{ define "intro" }}
        <!-- Introduction Section -->
        <div class="mb-8">
            <div class="divider divider-secondary text-xl text-customOrange font-bold py-4">Event</div>

            <p class="text-xl font-bold mb-4">You're Invited!</p>

            <p class="text-lg mb-4">
                I am thrilled to invite you to the first exclusive preview of

                <span class="text-customOrange">
                    <a href="https://ppacer.org">ppacer</a>
                </span>

                , a new DAG scheduler built in Go that I've been passionately
                working on for the past 13 months. This special event is for
                friends and family, and I'd love to show you what I've created.
            </p>

            <p class="text-xl font-bold mb-4">What to Expect:</p>
            <ul class="list-disc list-inside text-lg px-8 mb-8">
                <li>An introduction to what ppacer is and why I decided to build it</li>
                <li>A live demo showcasing its capabilities</li>
                <li>High-level plans for the road to version 1.0</li>
            </ul>

            <p class="text-xl font-bold mb-4">Event Details:</p>
            <ul class="text-lg px-8 mb-8">
                <li>
                    <span class="text-customOrange font-bold">Where</span>:
                    On-site in Warsaw
                </li>
                <li>
                    <span class="text-customOrange font-bold">Date:</span>
                    Tentatively October 23rd (final date to be confirmed soon)
                </li>
                <li>
                    <span class="text-customOrange font-bold">Time:</span>
                        5:00 PM - 7:00 PM
                </li>
                <li>
                <span class="text-customOrange font-bold">Afterwards</span>:
                    Join us for drinks and casual conversation at a nearby spot
                </li>
            </ul>

            <p class="text-lg mb-4">
                If that sounds interesting to you or you just want to catch up,
                I'd love to have you there. Space is limited, so please register
                soon to secure your spot. I'll keep you posted with updates both
                here and via email.

                Looking forward to seeing you and sharing this exciting
                project!
            </p>

            <div class="divider divider-secondary text-xl text-customOrange font-bold py-8">Registration</div>
        </div>
{{ end }}


{{ block "policy" . }}
<DOCTYPE html>
<html lang="en">
    {{ template "header" . }}
    <body data-theme="sunset" class="min-h-screen bg-base-200">
        <div class="container mx-auto p-6">
            <div class="flex justify-center mb-8">
                <div class="max-w-md w-full">
                    <a href="/">
                        <img src="/assets/logo_ff.svg" alt="Logo" class="w-full h-auto">
                    </a>
                </div>
            </div>
            <div class="divider divider-secondary text-xl text-customOrange font-bold py-4">
                Privacy Policy
            </div>
        </div>
    </body>
</html>
{{ end }}


{{ define "header" }}
<head>
    <title>ppacer ff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="/css/output.css">
    <style>
        .htmx-indicator {
            opacity:0;
            transition: opacity 500ms ease-in;
        }
    </style>
    <script
        src="https://unpkg.com/htmx.org@2.0.1"
        integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
        crossorigin="anonymous"
    ></script>
</head>
{{ end }}

