{{ block "index" . }}
<DOCTYPE html>
<html lang="en">
    {{ template "header" . }}
    {{ template "body" . }}
</html>
{{ end }}

{{ block "body" . }}
    <body data-theme="sunset" class="min-h-screen bg-base-200">
        <div class="container mx-auto p-6">
            <div class="flex justify-center mb-8">
                <div class="max-w-md w-full">
                    <a href="/">
                        <img src="/assets/logo_ff.svg" alt="Logo" class="w-full h-auto">
                    </a>
                </div>
            </div>
            {{ template "intro" }}
            {{ if .ShowForm }}
                {{ template "form" . }}
            {{ end }}
            {{ template "notifications" . }}
            <div class="flex justify-center items-center mt-4">
                <span id="form-loader" class="htmx-indicator loading loading-bars loading-md"></span>
            </div>
        </div>
    </body>
{{ end }}


{{ block "form" . }}
<div class="p-8 rounded-lg shadow-md max-w-md mx-auto">
    <form id="registration-form" hx-post="/register" hx-target="#post-reg-notifications" hx-indicator="#form-loader">
        <div class="mb-4">
            <label for="nickname" class="block text-sm font-medium">Name/Nickname (optional)</label>
            <input type="text" id="nickname" name="nickname" class="input input-bordered w-full mt-1" placeholder="Your nickname">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium">Email</label>
            <input type="email" id="email" name="email" required class="input input-bordered w-full mt-1" placeholder="Your email address">
        </div>
        <div class="mb-4">
            <label class="inline-flex items-center">
                <input type="checkbox" class="checkbox checkbox-primary" name="drinks">
                <span class="ml-2">Count me in for drinks afterwards</span>
            </label>
        </div>
        <div class="mb-4">
            <label class="inline-flex items-center">
                <input type="checkbox" class="checkbox checkbox-primary" required>
                <span class="ml-2">
                    I consent to my data being collected and used for event
                    registration as described in the
                    <a href="/policy" class="link link-secondary">Privacy Policy</a>.
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary w-full">Register</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener("htmx:afterRequest", function(evt) {
        // Reset the form after the request is completed
        document.getElementById("registration-form").reset();
    });
</script>
{{ end }}

{{ block "notifications" . }}
    <div id="post-reg-notifications">
        {{ if .PostRegisterInfo }}
            <div class='alert alert-success'>{{ .PostRegisterInfo }}</div>
        {{ end }}
        {{ if .PostRegisterError }}
            <div class='alert alert-error'>{{ .PostRegisterError }}</div>
        {{ end }}
    </div>
{{ end }}

{{ define "intro" }}
        <!-- Introduction Section -->
        <div class="mb-8">
            <div class="divider divider-secondary text-xl text-customOrange font-bold py-4">Event</div>

            <p class="text-xl font-bold mb-4">You're Invited!</p>

            <p class="text-lg mb-4">
                I am thrilled to invite you to the first exclusive preview of

                <span class="text-customOrange">
                    <a href="https://ppacer.org">ppacer</a>
                </span>

                , a new DAG scheduler built in Go that I've been passionately
                working on for the past 13 months. This special event is for
                friends and family, and I'd love to show you what I've created.
            </p>

            <p class="text-xl font-bold mb-4">What to Expect:</p>
            <ul class="list-disc list-inside text-lg px-8 mb-8">
                <li>An introduction to what ppacer is and why I decided to build it</li>
                <li>A live demo showcasing its capabilities</li>
                <li>High-level plans for the road to version 1.0</li>
            </ul>

            <p class="text-xl font-bold mb-4">Event Details:</p>
            <ul class="text-lg px-8 mb-8">
                <li>
                    <span class="text-customOrange font-bold">Where</span>:
                    On-site in Warsaw
                </li>
                <li>
                    <span class="text-customOrange font-bold">Date:</span>
                    Tentatively October 23rd (final date to be confirmed soon)
                </li>
                <li>
                    <span class="text-customOrange font-bold">Time:</span>
                        5:00 PM - 7:00 PM
                </li>
                <li>
                <span class="text-customOrange font-bold">Afterwards</span>:
                    Join us for drinks and casual conversation at a nearby spot
                </li>
            </ul>

            <p class="text-lg mb-4">
                If that sounds interesting to you or you just want to catch up,
                I'd love to have you there. Space is limited, so please register
                soon to secure your spot. I'll keep you posted with updates both
                here and via email.

                Looking forward to seeing you and sharing this exciting
                project!
            </p>

            <div class="divider divider-secondary text-xl text-customOrange font-bold py-8">Registration</div>
        </div>
{{ end }}


{{ block "policy" . }}
<DOCTYPE html>
<html lang="en">
    {{ template "header" . }}
    <body data-theme="sunset" class="min-h-screen bg-base-200">
        <div class="container mx-auto p-6">
            <div class="flex justify-center mb-8">
                <div class="max-w-md w-full">
                    <a href="/">
                        <img src="/assets/logo_ff.svg" alt="Logo" class="w-full h-auto">
                    </a>
                </div>
            </div>
            <div class="divider divider-secondary text-xl text-customOrange font-bold py-4">
                Privacy Policy
            </div>
            <div class="max-w-4xl mx-auto p-6 shadow-md rounded-md mt-10">
                <p class="text-lg mb-4">
                    This Privacy Policy describes how we handle
                    your personal data when you register for our event.
                </p>

                <ol class="list-decimal pl-6 space-y-4">
                    <li class="text-lg">
                        <strong>Data Controller:</strong> Damian Skrzypiec
                        (<a href="mailto:info@dskrzypiec.dev" class="text-blue-500">
                        info@dskrzypiec.dev</a>) is responsible for processing
                        your personal data.
                    </li>

                    <li class="text-lg">
                        <strong>Data We Collect:</strong> When you register for
                        the event, we collect the following personal data:
                        <ul class="list-disc pl-8 mt-2 space-y-2">
                            <li>Your name or nickname (optional).</li>
                            <li>Your email address (required).</li>
                            <li>
                                Your preference on whether you would like to
                                join drinks after the presentation.
                            </li>
                        </ul>
                    </li>

                    <li class="text-lg">

                        <strong>Purpose of Data Collection:</strong> We collect
                        your personal data solely for the purpose of organizing
                        and managing the event. Specifically, we use your email
                        address to communicate event details, updates, and
                        other necessary information. </li>

                    <li class="text-lg">
                        <strong>Legal Basis for Processing:</strong> We process
                        your personal data based on your consent, as you
                        provide this information voluntarily when registering
                        for the event.
                    </li>

                    <li class="text-lg">
                        <strong>Data Retention:</strong> We will retain your
                        personal data only for as long as necessary for the
                        event. After the event concludes, your data will be
                        deleted unless there is a legal obligation to retain it
                        for a longer period.
                    </li>

                    <li class="text-lg">
                        <strong>Sharing of Data:</strong> We do not share your
                        personal data with any third parties unless required by
                        law.
                    </li>

                    <li class="text-lg">
                        <strong>Your Rights:</strong> You have the following rights regarding your personal data:
                        <ul class="list-disc pl-8 mt-2 space-y-2">
                            <li>The right to access and receive a copy of your personal data.</li>
                            <li>The right to request correction of inaccurate or incomplete data.</li>
                            <li>The right to request deletion of your data.</li>
                            <li>The right to withdraw your consent at any time.</li>
                            <li>The right to lodge a complaint with a supervisory authority.</li>
                        </ul>
                        <p class="mt-2">
                            To exercise any of your rights, please contact us
                            by email at <a href="mailto:info@dskrzypiec.dev"
                                class="text-blue-500">info@dskrzypiec.dev</a>.
                            We will respond to your request as soon as possible
                            and in accordance with applicable laws.
                        </p>
                    </li>

                    <li class="text-lg">
                        <strong>Security of Your Data:</strong> We take
                        appropriate technical and organizational measures to
                        protect your personal data from unauthorized access,
                        disclosure, alteration, or destruction.
                    </li>

                    <li class="text-lg">
                        <strong>Contact Information:</strong> If you have any
                        questions or concerns regarding this Privacy Policy or
                        your personal data, please contact me at
                        <a href="mailto:info@dskrzypiec.dev" class="text-blue-500">
                            info@dskrzypiec.dev
                        </a>.
                    </li>
                </ol>

                <p class="mt-6 text-sm text-gray-600">
                    This policy was last updated on 2024-08-16. We may update
                    this Privacy Policy from time to time, so please review it
                    periodically.
                </p>
            </div>
        </div>
    </body>
</html>
{{ end }}


{{ define "header" }}
<head>
    <title>ppacer ff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="/css/output.css">
    <style>
        .htmx-indicator {
            opacity:0;
            transition: opacity 500ms ease-in;
        }
    </style>
    <script
        src="https://unpkg.com/htmx.org@2.0.1"
        integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
        crossorigin="anonymous"
    ></script>
</head>
{{ end }}

